@tailwind base;
@tailwind components;
@tailwind utilities;


/* Swiper pagination custom style */
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: 2px solid #ff6a3d;
  background: transparent;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #ff6a3d;
}

.input {
  width: 100%;
  padding: 10px 8px;
  border: none;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  background: transparent;
}

.input:focus {
  outline: none;
  border-bottom-color: #000;
}

.input::placeholder {
  color: #9ca3af;
}
